<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <reliableSession enabled="true" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://katusha:8732/trololo/blin" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReference1.IService1"
                name="NetTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="KATUSHA\killerok" />
                </identity>
            </endpoint>
            <endpoint address="http://katusha:8733/trololo/blinDual" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="WSDualHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="KATUSHA\killerok" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>