<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<service name="ConsoleApplication1.Service1" behaviorConfiguration="mexBehavior">
				<host >
					<baseAddresses>
						<add baseAddress = "http://andrey:8733/trololo" />
            <add baseAddress="net.tcp://andrey:8732/trololo"/>
					</baseAddresses>
				</host>
				<endpoint address="blin" binding="basicHttpBinding" contract="ConsoleApplication1.IService1">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
        <endpoint address="blin" binding="netTcpBinding" contract="ConsoleApplication1.IService1"></endpoint>
        <endpoint address="wsblin" binding="wsHttpBinding" contract="ConsoleApplication1.IService1"></endpoint>
        <endpoint  address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer  maxItemsInObjectGraph="43534"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<!--system.runtime.serialization>
		<dataContractSerializer>
			<declaredTypes>
				<clear/>
				<add type="ConsoleApplication1.CompositeHelper,ConsoleApplication1,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null">
					<knownType type="ConsoleApplication1.CompositeType,ConsoleApplication1,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"	></knownType>
				</add>
			</declaredTypes>
		</dataContractSerializer>
	</system.runtime.serialization-->
</configuration>
